BasicTest/BasicTest/obj/
BasicTest/packages/
BasicTest/BasicTest/bin/
BasicTest/BasicTest.Tests/obj/Debug/
Asp Models/packages/
Asp Form/packages/
Asp Models/Asp Models/obj/
Asp Form/Asp Form/obj/
Simple Login/packages/
Simple Login/Simple Login.Tests/obj/
Webapi Basic/Webapi Basic/bin/
Webapi Basic/packages/
Webapi Basic/Webapi Basic/obj/
Webapi Basic/Webapi Basic.Tests/obj/
