BasicTest/BasicTest/obj/
BasicTest/packages/
BasicTest/BasicTest/bin/
BasicTest/BasicTest.Tests/obj/Debug/
Asp Models/packages/
Asp Form/packages/
Asp Models/Asp Models/obj/
Asp Form/Asp Form/obj/
Simple Login/packages/
Simple Login/Simple Login.Tests/obj/
