
@{
    ViewBag.Title = "Index";
}
@model MvcMusicStore.Models.Album

<p><strong>Title</strong>: @Model.Title</p>
<p><strong>Price</strong>: @Model.Price</p>
<p><strong>AlbumArtUrl</strong>: @Model.AlbumArtUrl</p>
